<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment Question 5 </title>
</head>
<body>
    <header>
            <img src="pic.jpeg" alt="pic">
    </header>
    <main>
        <div>
            <p>We Will be learning the following things this week:</p>
            
            <table>
               <tr>
                <th>Day 1</th>             
                <th>Day 2</th>             
                <th>Day 3</th>             
                <th>Day 4</th>
               </tr>
                <tr>
                    <td>
                        Linux 1
                    </td>
                    <td>
                       HTML
                    </td>
                    <td>
                        Linux 2
                    </td>
                    <td>
                        Linux 3
                    </td>
                </tr>
                <tr>
                   <td>
                       Git 1
                    </td>
                    <td>
                       CSS
                    </td>
                    <td>
                        Git 2
                    </td>
                    <td>
                        Bootstrap
                    </td> 
                </tr>
                             
            </table>
        </div>
        
        <div >
            <p>If you want to contact me , please fill this form</p>
            <form action="">
                <label for="name">Name</label>
                <input type="text" name="name" ><br>    
                <label for="phone">phone No.</label>
                <input type="number" name="phone"><br>
                <label for="email">email id</label>
                <input type="text" name="email" ><br>
            </form>
        </div>
        
        <div>
            <h3>The following things are important to be a programmer</h3>
            <ul>
                <li>A Problem solving mindset</li>
                <li>Consistency</li>
                <li>Consistency
                    <ul>
                        <li>Clean code</li>
                        <li>Thorough knowledge of core concepts</li>
                        <li>Readable code</li>
                    </ul>
                </li>
                <li>Speed</li>
            </ul>
        </div>
    </main>
</body>
</html>